<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/Learning">Learning</a>
      </li>
      <li>
        <a href="/Research">R & D</a>
      </li>
      <li>
        <a href="/Reading List">Reading List</a>
      </li>
      <li>
        <a href="/code">Code and Tutorials</a>
      </li>
      <li>
        <a href="/assets/CV_Xiyang Yeh.pdf">CV</a>
      </li>
      <li>
        <a href="/robots">Getting into Robotics</a>
      </li>
    </ul>
  </nav>
  <div class="container">

    {{ content }}

  </div><!-- /.container -->
  <footer>
    <ul>
      <li><a href="https://www.linkedin.com/in/xyyeh">linkedin</a></li>
      <li><a href="https://github.com/xyyeh">github.com/xyyeh</a></li>
    </ul>
  </footer>
</body>

</html>